body {
	background-color:#73B5E5;
}
	
ul {
	padding-left:0;
	margin:0;
}

.navbar {
	background-color: transparent;
	border: 0;
}

.nav.navbar-nav li a {
    color: black;
	font-weight:bold;
}

.navbar-default .navbar-brand {
    color: #F5E537;
}

.navbar-brand {
	font-weight:bold;
	text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media (min-width: 992px) {
	.navbar-brand {
		font-size:2.0em;
	}
}

a:link {
    color: #F5E537;
}

a:visited {
    color: #F5E537;
}

a:hover {
    color: #F5E537;
}

a:active {
    color: #F5E537;
}
	
.navbar-inner {
    background:transparent;
}
	
.container {
	width:100%;
	padding:0;
	margin:0;
	background-color:#73B5E5;
}

.wavebackground {
	background-image: url('background.jpg');
	background-repeat: no-repeat;
    background-position: center; 
	background-color: white;
	background-size: cover;
}

#title {
	color:#F5E537;
	text-shadow:-1px 0 black, 0 1px black, 2px 0 black, 0 -2px black;
	background-color: transparent;
}



#empower {
	margin:0 auto;
	width: 100%;
	min-width:550px;
	text-align:center;
	line-height:150%;
	margin-top:25px;
	padding-top:250px;
}

.btn-lg {
	color:#F5E537;
	text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	background-color:#73B5E5;	
	margin-right:5px;
}
		
#buttons {
	float:right;
	margin-top:5px;
	padding-right:40px;
}
		
.welcome {
	color:black;	
	margin:0 auto;
}

.welcome h3 {
	margin-top: 0;
	font-weight:bold;
	font-size:2em;
	padding:2px 10px 0 10px;
}

.welcome p {
	font-size:1.5em;
	padding:0 10px 0 10px;
}

.welcomeBackground  {
	background-image: url('images/roundrect.jpg');
	background-repeat: no-repeat;
    background-position: center; 
	background-color: white;
	background-size: cover;
	border-radius:15px;
    padding-bottom: 20%; 
	background-position: 50% 50%;
}	

@media (min-width:992px) {
	.welcomeBackground {
	    padding-bottom: 560px; 
	}
} 

		
.welcomeContent  a:link {
	color:#0000FF;
}

.welcomeContent  a:visited {
	color:#800080 ;
}

.welcomeContent  a:hover {
	color:#0000FF;
}

.welcomeContent  a:active {
	color:#FF0000 ;
}

.roundImage {
	border-radius:15px;
}
	
.roundRect {
	float:left;
	height:560px;
	margin-top:65px;
	border-radius:15px;
	margin-right:15px;
	margin-bottom:15px;
}		


.projects {
	background-color:#C3CED0;		
}

.project {
	
}

.project h3 {
	font-weight:bold;
	font-size:2em;
	margin-top:0;
}

.project p {
	font-size:1.15em;
}

.project  a:link {
	color:#0000FF;
	font-weight:bold;
}

.project  a:visited {
	color:#800080;
	font-weight:bold;
}

.project  a:hover {
	color:#0000FF;
	font-weight:bold;
}

.project  a:active {
	color:#FF0000;
	font-weight:bold;
}

.projectImage {
	width:30%;
	float:left;
	margin-right:10px;
	border-top-left-radius: 100px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 0;
}

@media (min-width:992px) {
	.projectImage {
		width: 100%
	}
}

.projectText {
	padding-bottom:50px;
}

#about {
	background-color:white;		
	width:100%;
	float:left;
	padding-top:50px;
	padding-bottom:50px;
	text-align:center;
}

.person {

}

.person p {
	text-align:justify;
	font-size:0.95em;
}

.persontext {
	padding:0 20px 30px 20px;
}

.persontext  a:link {
	color:#0000FF;
	font-weight:bold;
}

.persontext  a:visited {
	color:#800080;
	font-weight:bold;
}

.persontext  a:hover {
	color:#0000FF;
	font-weight:bold;
}

.persontext  a:active {
	color:#FF0000;
	font-weight:bold;
}

.circle {
	height:200px;
	width:200px;
	margin:0 auto;
	background-color:blue;
	border-radius:100px;
}	

.circleImage {
	height:200px;
	width:200px;
	margin-left:25px;
	border-radius:100px;
}

.helptext {
	font-size:1.75em;

}

.helpbox {
	background-color:#C3CED0;
}

.helptext  a:link {
	color:#0000FF;
	font-weight:bold;
}

.helptext  a:visited {
	color:#800080;
	font-weight:bold;
}

.helptext  a:hover {
	color:#0000FF;
	font-weight:bold;
}

.helptext  a:active {
	color:#FF0000;
	font-weight:bold;
}

#partners {
	color:#F5E537;	
	background-color:#73B5E5;
	text-align:center;
}


#depot {
	background-color:#E7E4D0;
	margin:auto;
}

#depot iframe {
	margin: 0 auto;
	display:block;
}

#depotText {
	background-color:#C3CED0;		
	text-align:center;
	font-size:1.75em;
	padding: 15px 0 15px 0;
}

#depotText  a:link {
	color:#0000FF;
	font-weight:bold;
}

#depotText  a:visited {
	color:#800080;
	font-weight:bold;
}

#depotText  a:hover {
	color:#0000FF;
	font-weight:bold;
}

#depotText  a:active {
	color:#FF0000;
	font-weight:bold;
}

.partnerText {
	padding:25px 0 25px 0;
}








/*
Vertical align jumbotron
From http://jsfiddle.net/hashem/ut5sbqvz/

*/
.jumbotron.vertical-center {
  margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
}

.vertical-center {
  min-height: 100%;  /* Fallback for vh unit */
  min-height: 100vh; /* You might also want to use
                        'height' property instead.
                        
                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.
  
                        In this case the parent of '.vertical-center'
                        is the <body> element */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}
